.theBigContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.containerOfImg1 {
    width: 50vw;
    height: 100vh;
    overflow: hidden;
}

.containerOfImg2{
    width: 50vw;
    height: 100vh;
    overflow: hidden;
}

.mainImg1 {
    height: 100vh;
    width: 50vw;
    background-size: cover;
}

.mainImg2 {
    height: 100vh;
    width: 50vw;
}

.containerOfHeading {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 5;
}

.mainHeading {
    color: #c91a34;
}

.containerOfSecHeading {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 28px;
    position: absolute;
    z-index: 6;
    top: 56%;
}

.mainHeading41 {
    margin-right: 12%;
    color: #e0dcdd; 
}

@media (width < 490px) {
    .mainHeading41 {
        margin-right: 8%;
    }
}

.containerOfThrHeading {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    height: 28px;
    position: absolute;
    z-index: 6;
    top: 54%;
}

.mainHeading42{
    margin-left: 12%;
    color: #e0dcdd;
}

.mainImg1:hover {
    transition: all 0.5s;
   transform: scale(1.2)
}

.mainImg2:hover {
    transition: all 0.5s;
    transform: scale(1.2)
}
