.shoppingBag{
    font-size: 30px;
    border: none;
    border-radius: 50%;
    color: white;
    margin-left: 20px;
}

.changedButton {
    height: 50px;
    background-color:rgb(212, 17, 17);
    border: none;
    border-radius: 15px;
    color: white;
}

.changedButton:hover {
    background-color: rgb(195, 17, 17);
}

.textDeco {
    text-decoration: none!important;
}

.navPage {
    width: 12vw;
    text-decoration: none!important;
    color: rgb(240, 255, 255);
    margin-left: 12px;
    margin-right: 20px;
}

.navPage2 {
    width: 12vw;
    text-decoration: none!important;
    color: rgb(240, 255, 255);
    padding-left: 30px;
}

@media (max-width: 700px) {
    .navPage2 {
        padding-left: 0;
    }
}

@media (max-width: 1000px) {
    .navPage {
        margin-left: 5px;
        margin-right: 10px;
    }
    .changedButton {
        font-size: 13px;
    }
}

.dbnavbar {
    height: 56px;
}


.bodyBuildingImage {
    width: 100%;
    height: 433px;
}

.welcomeDiv {
    position: absolute;
    top: 56px;
    z-index: 11;
    height: 433px;
    display: flex;
    align-items: center;
    background-color: rgba(30, 15, 112, 0.2);
    width: 36%;
}

.heading4 {
    color: rgb(201, 19, 49);
    margin-left: 5px;
}

.heading3 {
    margin-top: 2%;
    margin-left: 4%;
}

.containerOfSpeach {
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
    background-color: #f7f8fa;
    border: none;
    width: 85%;
}

.speach {
    padding: 7px;
    margin-top: 9px;
}

@media (width > 650px) {
    .disappearTabletSize {
        display: none !important;
    }
}

@media (width < 650px) {
    .navPage, .navPage2 , .changedButton, .shoppingBag, .badge {
        display: none !important;
    }
}

.pageNavSide {
    font-size: 20px;
    margin: 5px 0 15px 5px;
    border-bottom: 1px solid rgb(109, 107, 107);
}

.buttonNavSide {
    width:90%;
    margin-left: 5%;
    height: 50px;
    margin-top: 17px;
    border: none;
    border-radius: 15px;
    background-color: rgb(212, 17, 17);
}